/* 清除标签自带的样式 */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


/* 主体采用flex布局，使用大背景图铺满全屏 */
body {
    width: 100%;
    height: 100vh;
    font-size: 14px;

}

/* webkit支持滚动条自定义 */
::-webkit-scrollbar {
    display: none;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* 定义一个常用的类 方便使用*/
.w {
    width: 100%;
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-content: center;
    font-size: 2em;
}

/* 主界面的类 */
.beijing {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/* 第一块开始 */
.beijing div:nth-child(1) {
    position: absolute;
    background: url(/images/j1.jpg);

    background-size: cover;
    background-position: center;

}

.beijing div:nth-child(1) .logo_3 {

    width: 100px;
    height: 100px;
    background: url(/images/logo2.png) no-repeat;
    right: 40vw;
    top: 10vh;
    background-size: contain;
}

.beijing div:nth-child(1) .pc-download {
    display: flex;
    position: absolute;
    left: 150px;
    top: 80px;
}

.beijing div:nth-child(1) .pc-download a {
    width: 33px;
    height: 85px;
    display: flex;
    position: absolute;
    padding: 0;
    border: 0;
    background: url(/images/1.png) no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 33px 85px;


}

.pc-yun-download {
    display: flex;
    position: absolute;
    left: 200px;
    top: 120px;
}

.beijing div:nth-child(1) .pc-yun-download a {
    width: 33px;
    height: 110px;
    display: flex;
    position: absolute;
    padding: 0;
    border: 0;
    background: url(/images/2.png) no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 30px 110px;


}

.o-download {
    display: flex;
    position: absolute;
    left: 150px;
    top: 160px;
}

.beijing div:nth-child(1) .o-download a {
    width: 33px;
    height: 110px;
    display: flex;
    position: absolute;
    padding: 0;
    border: 0;
    background: url(/images/2.png) no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-size: 30px 110px;

}

/* 第一块完结 */

/* .beijing div:nth-child(2) {
有问题，宽度丢失，但不影响后续布局
    background: url(/images/j2.png);
    background-size: cover;
    background-position: center;
} */

/* 第二块开始 */
.beijing div:nth-child(3) {

    background: url(/images/j2.png);
    background-size: cover;
    background-position: center;
}

body .beijing div:nth-child(3) .fenlei {
    top: 750px;
    background-image: none;

}

/* 第二块结束 */

/* 第三块开始 */
.beijing div:nth-child(4) {

    background: url(/images/j3.png);
    background-size: cover;
    background-position: center;
}

.beijing div:nth-child(4) .map {
    width: 640px;
    height: 400px;
    display: flex;
    position: absolute;
    justify-content: center;
    top: 1359px;
    background: none;
    display: block;

}

/* 第三块结束 */

/* 第四块开始 */
.beijing div:nth-child(5) {
    display: flex;
    position: relative;
    background: url(/images/j4.png);
    background-size: cover;
    background-position: center;
}

body .beijing div:nth-child(5) .vid {
    width: 700px;
    height: 450px;
    display: flex;
    position: absolute;
    top: 90px;
    background: none;

}

body .beijing div:nth-child(5) .vid video {
    width: 700px;
    height: 450px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
}

/* 第四块结束 */

/* footer开始 */
footer {
    width: 100%;
    height: 47vh;
    display: flex;
    background-color: black;

}

footer .logo {
    width: 40%;
    height: 47vh;
    display: flex;
    flex-direction: column;
    justify-content: center;



}

footer .logo .logo_a {
    width: 100%;
    height: 15vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;




}

footer .logo .logo_a ul {
    width: 100%;
    height: 15vh;
}

footer .logo .logo_a ul li {

    display: flex;
    float: left;


}

footer .logo_2 {
    flex-grow: 1;
    color: #aaa;
    font-size: 14px;
    line-height: 18px;
}

footer .logo_2 .logo_c ul li {

    display: flex;
    float: left;


}

footer .logo_2 div:nth-child(1) {
    width: 100%;
    height: 14vh;
    line-height: 14vh;


}

footer .logo_2 a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
}

/* footer结束 */